<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>User</h1>
    </div>

    <div class="col-lg-12">
      <table class="table table-bordered">
        <tr>
          <th></th>
          <th>No</th>
          <th>Name</th>
          <th>Sirname</th>
          <th>Avatar</th>
          <th>Age</th>
          <th>Education</th>
        </tr>

        <tr *ngFor="let u of users,let i = index">
          <td>
            <button class="btn btn-outline-primary">Edit</button>
            <button (click)="delete(u.id)" class="btn btn-outline-danger">Delete</button>
          </td>
          <td>{{i + 1}}</td>
          <td>{{u.name}}</td>
          <td>{{u.sirname}}</td>
          <td><img src="{{u.avatar}}" class="img-fluid" alt=""></td>
          <td>{{u.age}}</td>
          <td>{{u.education}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>


